
@media screen and (min-width: 1280px) {

    body {
    margin: 0;
    background-color: transparent;
    }

    h3 {
        font-size: 2rem;
        text-align: left;
        font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        color: black;
        margin-top: 50px;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-weight: normal;
        color: black;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    p {
        font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        background-color: whitesmoke;
        width: 100vw;
        height: 20vh;
        font-weight: lighter;
        text-align: right;
        margin: 0px;
    }

    footer > p{
        position: relative;
        margin-right: 20px;
        font-size: 1em;
        color: lightgray;
    }

    .root {
        height: auto;
    }

    .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: #333333;
    animation-name: appear;
    animation-duration: 1s;
    }

    .nav-link-container {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        padding-right: 15%;
        gap: 30px;
    }

    .logo-link {
        margin-left: 20px;
    }

    .logo-image {
        width: auto;
        height: 60px;
        align-self: flex-start;
    }

    @keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
    }

    .nav-link {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: lighter;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;

    }

    .nav-link-mouse-over {
    color: gray;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: lighter;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    }

    .intro-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
    box-shadow: 0 5px 10px -5px lightgray;
    margin: 0px;
    padding: 0px;

    }

    .intro-img {
    position: relative;
    width: auto;
    height: 60vh;
    margin: 0px;
    z-index: 999;
    }

    .intro-name {
    font-size:  4rem;
    font-weight: bolder;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    color:  black;
    animation-name: slideleft;
    animation-duration: 1.25s;

    }

    .intro-title {
    font-size:  4rem;
    font-weight: bolder;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    color:  black;
    animation-name: slideright;
    animation-duration: 1.25s;


    }

    @keyframes slideleft {
    from {
        transform: translateX(100%);
        }
        to {
        transform: translateX(0%);
        }
    }

    @keyframes slideright {
    from {
        transform: translateX(-100%);
        }
        to {
        transform: translateX(0%);
        }
    }

    .feature-container {
        margin: auto;
        width: 70vw;
        height: auto;
        padding-bottom: 30px;
    
    }

    .feature-card {
        
        height: auto;
        margin: 15px;
        border-style: solid;
        border-width: 0px;
        border-color: transparent;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);

    }

    .card-content {
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0px;
        border-style: hidden;
        bottom: 0px;
        border-style: hidden;
    
    }  

    .custom-card {
        height: auto; 
        margin: 0px;
        padding: 0px;
        
    }

    .card-content {
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0px;
        border-style: hidden;
        bottom: 0px;
        border-style: hidden;
    
    }   
    .feature-title-home {
        display: none;
    }

    .feature-title {
        display: none;
    }

    .card-action-area{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items:flex-start;
        
    }

    .card-action-area.home{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items:flex-start;
        box-shadow: none;
    }

    .feature-content-home {
        display: none;
    }

    .card-media {
        height: 40vh;
        width: auto;
        margin: 0px;
        padding: 0px;
    }

    .content-container {
        width: 90vw;
        max-height: 30vh;
        margin-top: 50px;
        justify-content: start;
        align-items: center;
        display:flex;
        flex-direction: row;
        gap: 20px;
    }


    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100vw;
        height: auto;
        gap: 20px;
    }

    .about-summary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 20px;
        
    }

    .summary-content {
        text-align: justify;
        line-height: 2;
        color: #333333;
        
    }

    .hobby-container {
        display: flex;
        flex-direction: column;
        background-color: rgba(245, 245, 245, 0.534);
    }

    .hobby-title {
        text-align: left;
        font-size: 2em;
        margin-left: 20%;
        margin-top: 20px;
    }

    .hobby-section-l {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        gap: 5px;
        
    }

    .left-img {
        position: relative;
        display: inline-block;
        width: 60vw;
        height: 85vh;
    }
    .l-img-1 {
        width: auto;
        height: 50vh;
        margin-left: 30px;
        margin-top: 20px;
        z-index: 2;
        border-style: solid;
        border-width: 15px;
        border-color: white;
        
    }

    .l-img-2 {
        position: absolute;
        left: 55%;
        top: 20%;
        width: auto;
        height: 50vh;
        z-index: 3;
        margin-top: 20px;
        border-style: solid;
        border-width: 15px;
        border-color: white;
    }

    .hobby-content {

        width: 40vw;
        text-align: justify;
        line-height: 2;
        color: #333333;
        padding: 5%;
    }

    .hobby-section-r {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        background-color: rgba(245, 245, 245, 0.788);
        gap: 5px;
        
    }

    .right-img {
        position: relative;
        display: inline-block;
        width: 60vw;
        height: 85vh;
    }

    .r-img-1 {
        position: relative;
        width: auto;
        height: 50vh;
        /* margin-left: 30px; */
        top: 10%;
        left: 10%;
        margin-top: 20px;
        z-index: 2;
        border-style: solid;
        border-width: 15px;
        border-color: white;
        
    }

    .r-img-2 {
        position: absolute;
        /* left: 55%; */
        top: 20%;
        width: auto;
        height: 50vh;
        z-index: 1;
        margin-top: 20px;
        border-style: solid;
        border-width: 15px;
        border-color: white;
    }

    .right-img.sm-img {
        position: relative;
        display: inline-block;
        width: 45vw;
        height: 85vh;
    }

    .portfolio-title {
        text-align: left;
        grid-area: header;
        justify-self: start;
    }

    .project-container {
        
        display: grid;
        grid-template-columns: 0.25fr 0.25fr 0.25fr;
        grid-template-rows: auto;
        grid-template-areas:
        "header header header";
        column-gap: 20px;
        row-gap: 20px;
        place-items: center;
        justify-content:center;
        margin-bottom: 50px;
        
    }
}

@media screen and (min-width: 600px) and (max-width: 1280px) {

    body {
        margin: 0;
        background-color: transparent;
        }
    
        h3 {
            font-size: 2rem;
            text-align: left;
            font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
            color: black;
            margin-top: 50px;
            margin-bottom: 15px;
        }
    
        h2 {
            font-size: 3rem;
            text-align: center;
            font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
            font-weight: normal;
            color: black;
            margin-top: 50px;
            margin-bottom: 10px;
        }
    
        p {
            font-size: 1rem;
            font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        }
    
        footer {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            background-color: whitesmoke;
            width: 100vw;
            height: 10vh;
            font-weight: lighter;
            text-align: right;
            margin: 0px;
        }
    
        footer > p{
            position: relative;
            margin-right: 20px;
            font-size: 1em;
            color: lightgray;
        }
    
        .root {
            height: auto;
        }
    
        .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 70px;
        background-color: #333333;
        animation-name: appear;
        animation-duration: 1s;
        }
    
        .nav-link-container {
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: center;
            padding-right: 15%;
            gap: 30px;
        }
    
        .logo-link {
            margin-left: 20px;
        }
    
        .logo-image {
            width: auto;
            height: 60px;
            align-self: flex-start;
        }
    
        @keyframes appear {
        from {opacity: 0;}
        to {opacity: 1;}
        }
    
        .nav-link {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: lighter;
        font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    
        }
    
        .nav-link-mouse-over {
        color: gray;
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: lighter;
        font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        }
    
        .intro-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
        background-color: white;
        background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
        box-shadow: 0 5px 10px -5px lightgray;
        margin: 0px;
        padding: 0px;
    
        }
    
        .intro-img {
        position: relative;
        width: auto;
        height: 60vh;
        margin: 0px;
        z-index: 999;
        }
    
        .intro-name {
        font-size:  3rem;
        font-weight: bolder;
        font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        color:  black;
        animation-name: slideleft;
        animation-duration: 1.25s;
    
        }
    
        .intro-title {
        font-size:  3rem;
        font-weight: bolder;
        font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        color:  black;
        animation-name: slideright;
        animation-duration: 1.25s;
    
    
        }
    
        @keyframes slideleft {
        from {
            transform: translateX(100%);
            }
            to {
            transform: translateX(0%);
            }
        }
    
        @keyframes slideright {
        from {
            transform: translateX(-100%);
            }
            to {
            transform: translateX(0%);
            }
        }
    
        .feature-container {
            margin: auto;
            width: 85vw;
            height: auto;
            padding-bottom: 30px;
        
        }
    
        .feature-card {
        
            height: auto;
            margin: 15px;
            border-style: solid;
            border-width: 0px;
            border-color: transparent;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    
        }
    
        .card-content {
            height: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0px;
            border-style: hidden;
            bottom: 0px;
            border-style: hidden;
        
        }   
    
        .card-action-area{
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items:flex-start;
            box-shadow: none;
        }

        .feature-title-home {
            display: none;
        }

        .feature-title {
            display: none;
        }

        .feature-content-home {
            display: none;
        }

        .card-action-area.home{
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items:flex-start;
            box-shadow: none;
        }
    
        .card-media {
            height: 20vh;
            width: auto;
            margin: 0px;
            padding: 0px;
        }
    
        .content-container {
            width: 90vw;
            max-height: 30vh;
            margin-top: 50px;
            justify-content: start;
            align-items: center;
            display:flex;
            flex-direction: row;
            gap: 20px;
        }
    
    
        .about-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100vw;
            height: auto;
            gap: 20px;
        }
    
        .about-summary {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 10vw;
            margin-right: 10vw;
            margin-bottom: 20px;
            
        }
    
        .summary-content {
            text-align: justify;
            line-height: 2;
            color: #333333;
            
        }
    
        .hobby-container {
            display: flex;
            flex-direction: column;
            background-color: rgba(245, 245, 245, 0.534);
            width: 100vw;
        }
    
        .hobby-title {
            text-align: left;
            font-size: 2rem;
            margin-left: 10vw;
            margin-top: 20px;
        }
    
        .hobby-section-l {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            gap: 5px;
            
        }
    
        .left-img {
            position: relative;
            display: inline-block;
            width: 50vw;
            height: auto;
        }
        .l-img-1 {

            width: auto;
            height: 30vh;
            margin-left: 10vw;
            margin-top: 20px;
            z-index: 2;
            border-style: solid;
            border-width: 5px;
            border-color: white;
            
        }
    
        .l-img-2 {
            position: absolute;
            left: 350px;
            top: 100px;
            width: auto;
            height: 30vh;
            z-index: 3;
            margin-top: 20px;
            border-style: solid;
            border-width: 5px;
            border-color: white;
        }
    
        .hobby-content {
    
            font-size: 2rem;
            width: 50vw;
            text-align: justify;
            line-height: 2;
            color: #333333;
            padding-left: 10vw;
            padding-bottom: 10vw;
        }
    
        .hobby-section-r {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            background-color: rgba(245, 245, 245, 0.788);
            gap: 5px;
            
        }
    
        .right-img {
            position: relative;
            display: inline-block;
            width: 60vw;
            height: 35vh;
            order: -1;
        }
    
        .r-img-1 {
            position: relative;
            width: auto;
            height: 30vh;
            /* margin-left: 30px; */
            top: 10%;
            left: 10vw;
            margin-top: 20px;
            z-index: 2;
            border-style: solid;
            border-width: 5px;
            border-color: white;
            
        }
    
        .r-img-2 {
            position: absolute;
            left: 250px;
            top: 20%;
            width: auto;
            height: 30vh;
            z-index: 1;
            margin-top: 20px;
            border-style: solid;
            border-width: 5px;
            border-color: white;
        }
    
        .right-img.sm-img {
            position: relative;
            display: inline-block;
            width: 45vw;
            height: 35vh;
        }
    
        .portfolio-title {
            text-align: left;
            font-size: 2rem;
            margin-left: 15px;
            margin-bottom: 15px;
        }
        
       
        .portfolio-title {
            text-align: left;
            grid-area: header;
            justify-self: start;
        }
    
        .project-container {
            
            display: grid;
            grid-template-columns: 0.3fr 0.3fr;
            grid-template-rows: auto;
            grid-template-areas:
            "header header";
            column-gap: 20px;
            row-gap: 20px;
            place-items: center;
            justify-content:center;
            margin-bottom: 50px;
            
        }

}

@media screen and (max-width: 600px) {

    body {
        margin: 0;
        background-color: transparent;
        }
    
        h3 {
            font-size: 1.25rem;
            text-align: left;
            font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
            color: black;
            margin-top: 50px;
            margin-bottom: 15px;
        }
    
        h2 {
            font-size: 1.25rem;
            text-align: center;
            font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
            font-weight: normal;
            color: black;
            margin-top: 50px;
            margin-bottom: 10px;
        }
    
        p {
            font-size: 1rem;
            font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        }
    
        footer {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            background-color: whitesmoke;
            width: 100vw;
            height: 10vh;
            font-weight: lighter;
            text-align: right;
            margin: 0px;
        }
    
        footer > p{
            position: relative;
            margin-right: 20px;
            font-size: 1em;
            color: lightgray;
        }
    
        .root {
            height: auto;
        }
    
        .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 70px;
        background-color: #333333;
        animation-name: appear;
        animation-duration: 1s;
        }
    
        .nav-link-container {
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: center;
            padding-right: 15%;
            gap: 30px;
        }
    
        .logo-link {
            margin-left: 20px;

        }
    
        .logo-image {
            width: auto;
            height: 35px;
            align-self: flex-start;
        }
    
        @keyframes appear {
        from {opacity: 0;}
        to {opacity: 1;}
        }
    
        .nav-link {
        color: white;
        font-size: 1rem;
        text-decoration: none;
        font-weight: lighter;
        font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    
        }
    
        .nav-link-mouse-over {
        color: gray;
        font-size: 1rem;
        text-decoration: none;
        font-weight: lighter;
        font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        }
    
        .intro-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
        background-color: white;
        background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
        box-shadow: 0 5px 10px -5px lightgray;
        margin: 0px;
        padding: 0px;

    
        }
    
        .intro-img {
        position: relative;
        width: auto;
        height: 40vh;
        margin: 0px;
        z-index: 999;
        padding: 0px;
        }
    
        .intro-name {
        font-size:  1.5rem;
        font-weight: bolder;
        font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        color:  black;
        padding-left: 100px;
        animation-name: slideleft;
        animation-duration: 1.25s;
    
        }
    
        .intro-title {
        display: none;
    
    
        }
    
        @keyframes slideleft {
        from {
            transform: translateX(100%);
            }
            to {
            transform: translateX(0%);
            }
        }
    
        @keyframes slideright {
        from {
            transform: translateX(-100%);
            }
            to {
            transform: translateX(0%);
            }
        }
    
        .feature-container {
            margin: auto;
            width: 90vw;
            height: auto;
            padding-bottom: 30px;
        
        }
    
        .feature-card {
        
            height: auto;
            margin: 15px;
            border-style: solid;
            border-width: 0px;
            border-color: transparent;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    
        }
        .feature-content-home {
            display: none;
        }
    
        .card-content {
            height: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0px;
            border-style: hidden;
            bottom: 0px;
            border-style: hidden;
            

        }   
    
        .card-action-area{
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items:flex-start;
            
        }
        .card-action-area.home{
            
            height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items:flex-start;
            box-shadow: none;
        }

        .feature-title-home {
            position: absolute;
            color: white;
            bottom: 5px;
            left: 20px;
        }

        .feature-title {
            display: none;
        }
    
        .card-media {
            display: relative;
            height: 20vh;
            width: auto;
            margin: 0px;
            padding: 0px;
        }
    
        .content-container {
            width: 30vw;
            max-height: 40vh;
            margin-top: 50px;
            justify-content: start;
            align-items: center;
            display:flex;
            flex-direction: row;
            gap: 20px;
            
        }
    
    
        .about-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100vw;
            height: auto;
            gap: 20px;
        }
    
        .about-summary {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 10vw;
            margin-right: 10vw;
            margin-bottom: 20px;
            
        }
    
        .summary-content {
            text-align: justify;
            line-height: 2;
            color: #333333;
            
        }
    
        .hobby-container {
            display: flex;
            flex-direction: column;
            background-color: rgba(245, 245, 245, 0.534);
            width: 100vw;
        }
    
        .hobby-title {
            text-align: left;
            font-size: 2rem;
            margin-left: 10vw;
            margin-top: 20px;
        }
    
        .hobby-section-l {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            gap: 5px;
            
        }
    
        .left-img {
            position: relative;
            display: inline-block;
            width: 50vw;
            height: auto;
        }
        .l-img-1 {

            width: auto;
            height: 30vh;
            margin-left: 10vw;
            margin-top: 20px;
            z-index: 2;
            border-style: solid;
            border-width: 10px;
            border-color: white;
            
        }
    
        .l-img-2 {
            position: absolute;
            left: 300px;
            top: 110px;
            width: auto;
            height: 20vh;
            z-index: 3;
            margin-top: 20px;
            border-style: solid;
            border-width: 10px;
            border-color: white;
        }
    
        .hobby-content {
    
            font-size: 1.5rem;
            width: 70vw;
            text-align: justify;
            line-height: 2;
            color: #333333;
            padding-left: 10vw;
            padding-bottom: 10vw;
        }
    
        .hobby-section-r {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            background-color: rgba(245, 245, 245, 0.788);
            gap: 5px;
            
        }
    
        .right-img {
            position: relative;
            display: inline-block;
            width: 60vw;
            height: 35vh;
            order: -1;
        }
    
        .r-img-1 {
            position: relative;
            width: auto;
            height: 30vh;
            /* margin-left: 30px; */
            top: 10%;
            left: 10%;
            margin-top: 20px;
            z-index: 2;
            border-style: solid;
            border-width: 15px;
            border-color: white;
            
        }
    
        .r-img-2 {
            position: absolute;
            left: 150px;
            top: 20%;
            width: auto;
            height: 25vh;
            z-index: 1;
            margin-top: 20px;
            border-style: solid;
            border-width: 15px;
            border-color: white;
        }
    
       
        .portfolio-title {
            text-align: left;
            font-size: 1.5rem;
            margin-left: 15px;
            margin-bottom: 15px;
        }
        
       
        .project-container {
            
            display: flex;
            flex-direction: column;
            width: 100vw;
            justify-content: center;
            align-items: center;

        }
    
        .project-feature-card {
            height: auto;
            width: 80vw;
            margin-bottom: 30px;
            border-style: solid;
            border-width: 0px;
            border-color: transparent;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);

        }

}
